body{
    padding: 0px;
    margin: 0px;;
}

.Header{
    display: flex;
    background-color: red;
    justify-content: space-between;
    max-height: 76px;;
}
.logo-img{

    width:100px;
}
.Nav-items{
    padding: 0px 10px;
}
.Nav-items > ul{
    display: flex;
    list-style: none;
}
.Nav-items > ul>li{
  padding: 10px;
  font-size: 20px;
}
.Nav-items > ul>li:hover{
    background-color: black;
    color: white;
  }

.body-container{
    border: 1px solid black;
}
.card-container{
    border: 1px red Solid;
}
.res-card{
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    border: 1px solid black;
     /* display: inline-block; */
    /* margin: 15px;  */
    

}
.res-card>img{
    width:150px ;
}